{% extends '../base.html.twig' %}

{% block title %}Bibliometr V2.0 - LOGOWANIE{% endblock %}

{% block body %}

    {% block stylesheets %} <link rel="stylesheet" href="{{ 'css/my.css' }}"> {% endblock %}
    <div class="biblio-header">
        <h1>Bibliometr V2.0 - LOGOWANIE</h1>
    </div>
    <div class="example-wrapper">
        <h1>Zaloguj się w systemie zgromadzenia danych bibliometrycznych </h1>
    </div>
{% endblock %}
